@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #facc15;
  --secondary: #000000;
  --accent: #ffffff;
  --text-light: #9ca3af;
  --text-inverse: #ffffff;
}
html {
  font-size: 18px; /* Bigger font for everything */
}
body {
  background-color: #ffffff;
  color: #000000;
}

/* Hide number input spinners globally */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

